* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Gilroy;
    src: url(./fonts/Gilroy-Bold.ttf) format(truetype);
    font-weight: 700;
  }

  @font-face {
    font-family: Gilroy;
    src: url(./fonts/Gilroy-Black.ttf) format(truetype);
    font-weight: 900;
  }
  
  @font-face {
    font-family: Gilroy;
    src: url(./fonts/Gilroy-Medium.ttf) format(truetype);
    font-weight: 500;
  }

html {
    font-family: Gilroy;
    color: #3D3830;
}

.black-average {
    font-size: 32px;
    font-weight: 900;
}

.medium {
    font-size: 24px;
    font-weight: 500;
}

.black-big {
    font-size: 40px;
    font-weight: 900;
}

.text-spacing {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.uppercase {
    text-transform: uppercase;
}

.block {
    display: block;
}

header {
    width: 100%;
    background-color: #FFC5AE;
    padding: 10px 0;
}

header h1 {
    color: white;
    width: 136px;
    margin: auto;
}

.main-description {
    position: relative;
}

.main-description__text {
    width: 92%;
    padding: 190px 0;
    background-color: #FFC5AE;
    border-radius: 230px 0 230px 0;
    margin-top: 220px;
}

.main-description__text span {
    width: 34%;
    margin-left: 120px;
}

.main-description__img {
    position: absolute;
    top: -138px;
    right: 0;
}

.starbar-description {
    position: relative;
    height: max-content;
}

.starbar-description__text {
    position: absolute;
    top: 958px;
    z-index: -10;
    width: 92%;
    padding: 293px 0;
    background-color: #CACF93;
    border-radius: 0 340px 0 340px;
}

.starbar-description__text h2 {
    font-weight: 600;
    margin-left: 110px;
    font-size: 40px;
}

.starbar-description__text span {
    font-size: 25px;
    margin-left: 110px;
    width: 50%;
}

.aromas {
    display: flex;
    justify-content: space-between;
}

.aromas__green {
    display: flex;
    flex-direction: column;
    gap: 396px;
}

.aromas__grass, .aromas__berry, .aromas__flower, .collection__elder, .collection__sage, .collection__raspberries {
    position: relative;
}

.aromas__grass__text {
    width: 888px;
    background-color: #CACF93;
    padding: 180px 40px 210px 497px;
    border-radius: 240px 0 240px 0;
}

.aromas__grass__text h5, .aromas__grass__text span {
    margin-right: auto;
    width: 287px;
}

.aromas__grass__img {
    position: absolute;
    width: 661px;
    top: -115px;
}

.aromas__berry__text {
    width: 888px;
    background-color: #CACF93;
    padding: 111px 0 330px 387px;
    border-radius: 0 240px 0 240px;
}

.aromas__berry__text h5, .aromas__berry__text span {
    width: 190px;
}

.aromas__berry__img {
    position: absolute;
    top: 100px;
}

.aromas__description {
    width: 392px;
}

.aromas__flower {
    margin-top: 184px;
    margin-left: -200px;
}

.aromas__flower__text {
    width: 758px;
    background-color: #FFC5AE;
    padding: 50px 0 330px 0;
    border-radius: 280px 280px 0 280px;
    align-items: center;
}

.aromas__flower__text h5, .aromas__flower__text span {
    width: 220px;
}

.aromas__flower__img {
    position: absolute;
    top: 162px;
    right: 0;
}

.collection__title {
    width: 243px;
    margin: 250px 0 200px 75vw;
}

.collection__elder__text, .collection__sage__text, .collection__raspberries__text {
    width: 1148px;
}

.collection__elder__text, .collection__raspberries__text {
    background-color: #FFC5AE;
    padding: 195px 0 195px 108px;
}

.collection__elder__text {
    border-radius: 240px 0;
}

.collection__elder__img, .collection__raspberries__img {
    position: absolute;
    top: -20px;
    right: 0;
}

.collection__elder__text span {
    width: 570px;
}

.collection__sage__text {
    background-color: #CACF93;
    padding: 132px 132px 132px 0;
    align-items: end;
    margin-left: auto;
    border-radius: 0 240px;
    margin-top: 500px;
}

.collection__sage__text h5, .collection__sage__text span {
    width: 497px;
}

.collection__sage__img {
    position: absolute;
    top: 0;
}

.collection__raspberries {
    margin-top: 500px;
}

.collection__raspberries__text {
    border-radius: 0 240px;
}

.collection__raspberries__text span {
    width: 500px;
}

